@import 'tailwindcss';
@import 'tw-animate-css';
@import 'uniwind';

/* Configure content sources for Tailwind CSS */
@source "../app/**/*.{js,jsx,ts,tsx}";
@source "../components/**/*.{js,jsx,ts,tsx}";
@source "../lib/**/*.{js,jsx,ts,tsx}";

@theme {
  --color-white: #ffffff;
  --color-black: #000000;

  /* Dark mode background colors */
  --color-dark-bg: #1e1e1ecc;
  --color-dark-surface: #494949;
  --color-dark-card: #1f1f1f;

  --font-montserrat-regular: 'Montserrat-Regular';
  --font-montserrat-bold: 'Montserrat-Bold';
  --font-montserrat-medium: 'Montserrat-Medium';
  --font-montserrat-semibold: 'Montserrat-SemiBold';
  --font-montserrat-light: 'Montserrat-Light';
  --font-montserrat-thin: 'Montserrat-Thin';
  --font-montserrat-black: 'Montserrat-Black';
  --font-montserrat-extrabold: 'Montserrat-ExtraBold';
}
